name: Deploy Tutorial
on: [push]
jobs:
  Deploy-Tutorial:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
      - name: Deploy tutorial materal
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_TUTORIAL_KEY }}
          external_repository: ontop/ontop-tutorial
          publish_branch: master 
          publish_dir: .vuepress/public/tutorial  